# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dev-SR/.vscode/
dev-AuthMS/.vscode/
dev-SR/pkg/
dev-AuthMS/pkg/
src/github.com/
src/golang.org/
bin/
